/* this css is for my game details page keep in mind i have separted diffrent css for example gamereview css(for the main reveiw page), log.css(for the
registation/login page) the reason why i done this is beacsue i kept on having h1, p, class, background colour styling overlapping with other sypleing that have 
doen with other pages making it confusing to what header is for what ass i have alot of tag, class, id in the css so i decided to separeate to make
it easy for me */ 
body {
    font-family: "Anton SC", sans-serif;
    font-style: normal;
    color: #fff;
    background-color: #44008b;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.header {
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to right, #44008b, #00076f, #9f45b0);
    padding-block: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.search-signup-container {
    display: flex;
    align-items: center;
}

/* Navigation styling */
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

.nav-items a:hover {
    color: rgb(255, 255, 255);
    transition: transform 0.5s;
}

.nav-items a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease-in-out;
}

a.logo {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* centers vertically if inside a nav */
  }
  
  .logo-image img {
    padding: 0;
    margin: 0;
    height: 100%;     /* ensures the logo scales with the navbar */
    max-height: 70px; /* adjust based on your nav height */
    display: block;
  }


.card-hr {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #8484848b;
}

.search-bar form {
    display: flex;
}

.search-bar {
    margin-right: 30px;
    background: #fff;
    display: flex;
    border-radius: 60px;
    padding: 2px 3px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: #00076f;
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    align-content: baseline;
    background: #e54ed0;
    cursor: pointer;
}

/* Signup button styling */
.signup-button a {
    text-decoration: none;
}

.signup-button button {
    background-color: #e54ed0;
    border: 0px;
    font-weight: 650;
    border-radius: 13px;
    color: #ffe4f2;
    padding: 9px 12px;
    cursor: pointer;
}

.signup-button button:hover {
    background-color: #ffe4f2;
    color: #44008b;
    font-weight: 650;
}


.game-details-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.game-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#game-poster {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(236, 77, 172, 0.7);
   
}


.game-info {
    margin-left: 10px;
    flex-grow: 1;
    
}

#game-title {
    font-size: 2rem;
    color: #ec4dac;
    
}

.game-info p {
    color: #ffdee8;
  
}

#log-review-btn {
    background-color: #ec4dac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.log-review-btn:hover {
    background-color: #aa4f9d;
}

.rating-stats {
    background: #3d088d;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 140px;
    margin-left: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rating-score {
    font-size: 3rem;
    color: #ffdee8;
}

.review-container {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #ffdee8;
    position: relative;

}

.review-profile {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.review-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-content {
    flex: 1;
}

.review-header {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;

}

.username-rating {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    color: #ffdee8;
    margin-right: 10px;
}


.platform-info {
    color: #ffdee8;
    font-size: 0.9rem;
}

.review-text {
    margin-top: 10px;
    color: #ffdee8;
    font-size: 1rem;
    line-height: 1.5;
}

.review-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.review-actions button {
    background-color: transparent;
    border: none;
    color: #ec4dac;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 15px;
}

.review-actions button img {
    margin-right: 5px;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}


#review-form {
    width: 420px;
    padding: 25px;
    background-color: #0c0f6e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #ffdee8;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#review-form h1 {
    color: #ffdee8;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#review-form .form-group {
    margin-bottom: 15px;
}

#review-form label {
    display: block;
    margin-bottom: 5px;
    color: #ffdee8;
    font-size: 0.9rem;
}

#review-form .form-group input,
#review-form .form-group textarea,
#review-form .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #3d088d;
    color: #fff;
}

#review-form .form-group input::placeholder,
#review-form .form-group textarea::placeholder {
    color: #888;
}

#review-form .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

#review-form .form-btn button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ec4dac;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#review-form .form-btn button:hover {
    background-color: #aa4f9d;
    /* Magenta */
}

#review-form .form-btn button:active {
    transform: scale(0.98);
    /* Button click effect */
}
.back-btn button {
    background-color: #44008b;
    width: 100%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.back-btn button:hover {
    background-color: #9f45b0;
}

.like-img {
    width: 12px;
}

.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.footer-heading {
    margin-bottom: 20px;
}

.footer-heading h1 {
    font-size: 24px;
    margin: 0;
    color: #e54ed0; }

.footer-newsletter {
    margin-bottom: 20px;
}

.footer-newsletter p {
    font-size: 18px;
    margin-bottom: 20px;
}

.newsletter-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-signup input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 300px; /* Adjust width as needed */
}

.newsletter-signup .subscribe {
    padding: 10px 20px;
    border: none;
    background-color: #e54ed0; /* Adjust color to match your navigation bar */
    color: #000;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.footer-navigation {
    margin-top: 20px;
}

.footer-navigation nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.footer-navigation nav ul li {
    display: inline;
}

.footer-navigation nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-navigation nav ul li a:hover {
    color: #ffe4f2; /* Adjust color to match your navigation bar */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}