/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #44008b;
    color: #ffdee8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the form */
.upload-game-container {
    background-color: #00076f;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffdee8;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #ffdee8;
    margin-bottom: 5px;
}

input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #9f45b0;
    border-radius: 5px;
    background-color: #9f45b0;
    color: #fff;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    border: none;
}

button.submit-btn {
    background-color: #ec4dac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button.submit-btn:hover {
    background-color: #aa4f9d;
}

button.submit-btn:active {
    transform: scale(0.98);
}
